@media (min-width: 1025px) {
  .burger__menu {
    display: none;
  }
}

@media (max-width: 1024px) {
  .site-container {
    margin: 0 auto;
    padding: 0 50px;
  }

  .header__list {
    display: block;
    position: absolute;
    left: 0;
    background-color: gray;
    z-index: 50;
    transform: translate(-200px);
  }

  .burger__content {
    transform: translate(0);
    transition: transform 2s ease-in-out;
  }

  .header__item {
    margin: 20px 80px 40px 30px;
  }

  .burger__menu {
    display: flex;
  }
  .header__logo {
    display: flex;
    width: 150px;
    height: 48px;
  }
  .slide__resolution {
    height: 668px;
  }

  .carousel__container {
    padding-top: 160px;
    padding-left: 77px;
    padding-bottom: 160px;
  }

  .title__carousel {
    max-width: 770px;
    height: 146px;
    color: #fff;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .paragraph__carousel {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 660px;
    min-height: 48px;
    margin-bottom: 60px;
  }
}
