@media (min-width: 1025px) {
  .burger__menu {
    display: none;
  }
}

@media (max-width: 1024px) {
  .site-container {
    margin: 0 auto;
    padding: 0 50px;
  }

  .header__list {
    display: block;
    position: absolute;
    left: -19px;
    top: -14px;
    background-color: gray;
    z-index: 50;
    transform: translate(-1200px);
    transition: transform 1s ease-in-out;
    width: 250px;
  }

  .container__search_show {
    transform: translate(-477px);
    max-width: 300px;
  }

  .burger__content {
    transform: translate(-925px);
    transition: transform 1s ease-in-out;
  }

  .header__item {
    margin: 20px 80px 40px 30px;
  }

  .burger__menu {
    display: flex;
  }

  .header__logo {
    display: flex;
    max-width: 150px;
    height: 48px;
    margin: 26px 0;
  }

  .img_close__search {
    max-width: 21px;
  }

  .img__btn_search2 {
    max-width: 21px;
  }

  .slide__resolution {
    height: 668px;
  }

  .carousel__container {
    padding-top: 160px;
    padding-left: 77px;
    padding-bottom: 160px;
  }

  .title__carousel {
    color: #fff;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .paragraph__carousel {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 660px;
    min-height: 48px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1150px) {
  .holder {
    padding: 40px;
  }
  .desc__one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img_desc {
    max-width: 110px;
  }
  .paragraph_desc__one {
    max-width: 400px;
    margin-bottom: 5px;
  }
  .container_two_text {
    max-width: 400px;
  }
  .desc__two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .paragraph_desc__two {
    max-width: 400px;
    margin-bottom: 5px;
  }
}

@media (max-width: 1160px) {
  .site-container {
    padding: 0 50px;
  }
  .img_desc {
    margin-right: 10px;
  }

  .title_desc {
    margin-bottom: 3px;
  }
}

@media (max-width: 1650px) {
  .holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1747px) {
  .container__one {
    margin-right: 10px;
  }

  .desc__one {
    padding: 1.6% 3% 1.6% 3%;
  }
  .desc__two {
    padding: 1.6% 3% 1.6% 3%;
  }
}
